* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.page {
  padding: 0 9%;
}
<<<<<<< HEAD

.logo img {
  width: 12rem;
  height: auto;
}
=======
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
/*
:root {
  --clrBleu: #0065fc;
  --clrGris: #f2f2f2;
  --clrBleuCl: #deebff;
  --clrGrisfonce: #d1cece;
}*/

nav {
  display: flex;
  justify-content: space-between;
}
<<<<<<< HEAD

.nav_links {
  display: flex;
  align-items: center;
}
=======
.nav_bar{
  grid-column: 4/5;
  margin: 0;
  align-items: center;
  padding: 0;
}
 nav a{
   margin: 0;
   padding: 33px 20px;
 }

 nav a:hover{
  color: #0065fc;
  border-top: 3px solid  #0065fc;
 }
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef

.nav_links a {
  padding: 1.5rem;
  font-size: 2rem;
  color: black;
  width: 15rem;
  text-align: center;
  border-top: 3px solid transparent;
}

.nav_links .nav_b {
  color: #0065fc;
}

.nav_links a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  box-sizing: border-box;
}

header {
  margin: 2rem 0;
}

header h1 {
  font-size: 3rem;
}
header p {
  margin: 1rem 0;
  font-size: 1.7rem;
}

.bloc_research {
  display: flex;
  margin: 2rem 0;
}

.iconSize {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
  width: 5rem;
  border-radius: 1rem 0 0 1rem;
  background: #f2f2f2;
  cursor: pointer;
  font-size: 2rem;
}

#search {
<<<<<<< HEAD
  width: 20rem;
  height: 5rem;
  border: 2px solid #f2f2f2;
  font-size: 1.7em;
=======
  width: 250px;
  height: 50px;
  border: 2px solid #f2f2f2;
  padding-left: 20px;
  font-size: 1.1em;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  font-weight: 600;
  padding: 0 0.6rem;
}

::placeholder {
  padding: 0 2rem;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
  width: 11rem;
  background: #0065fc;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-weight: bold;
  margin-left: -0.2rem;
  font-size: 1.5rem;
}

.search-icon .fas {
  display: none;
}

.search-icon:hover {
  background: #deebff;
  color: #0065fc;
}

<<<<<<< HEAD
.filter {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  padding: 1.5rem 0;
}

.filter h3 {
  font-size: 2rem;
  margin-right: 1rem;
}

.filter-container {
=======
.iconSizemap {
  font-size: 1.1em;
}

.bloc-fas:hover > .filtreIcons {
  color: white;
  background-color:#0065fc;
}
.bloc-fas:hover > .icons-text {
  color:#0065fc; 
}

.researche:hover {
  background:#deebff;
  color:#0065fc;
}

/*filtre*/
.filtre{
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  font-size: 1rem;
  font-weight: bold;
  width: 650px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 2rem;
}

.bloc-fas {
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;
  border: 2px solid #f2f2f2;;
  border-radius: 3rem;
  cursor: pointer;
}

.bloc-fas i {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  position: absolute;
  left: -2px;
  text-align: center;
<<<<<<< HEAD
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
=======
  height: 60px;
  width: 60px;
  border-radius: 30px;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  background: #deebff;
}

.bloc-fas .icons-text {
  margin-right: -1.4rem;
}

.icons-text {
  font-size: 1.4rem;
  padding-left: 1.5rem;
}

.bloc-fas:hover > .filtreIcons {
  color: white;
  background-color: #0065fc;
}
.bloc-fas:hover > .icons-text {
  color: #0065fc;
}

.bloc-fasanimal {
  width: 17rem;
}
.animal {
  padding-left: 2rem;
}

.info {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.info p {
  font-size: 1.4rem;
  padding-left: 10px;
}

.infoicon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border: #d1cece 0.1rem solid;
  border-radius: 50%;
  color: #0065fc;
  cursor: pointer;
}

<<<<<<< HEAD
.main {
=======
/*hebergement*/
main{
  padding: 20px 50px;
  grid-area: main;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(700px, auto);
}

article {
  grid-column: 1/3;
  display: grid;
  background: #f2f2f2;
  border-radius: 1rem;
  padding: 1rem;
}

<<<<<<< HEAD
article h2 {
  font-size: 2.9rem;
  padding: 2rem 1rem;
=======
.bloc_hotel{
position: relative;
background-color: white;
width: 90%;
height: 250px;
border: 5px solid whitesmoke;
border-radius: 20px;
cursor: pointer;
box-shadow: rgb(121 121 121 / 30%) 1px 1px 20px;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
}

.hebergements {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem;
}

.bloc_hotel {
  flex: 1 1 30rem;
  border-radius: 1.3rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgb(121 121 121 / 30%) 1px 1px 20px;
  border: 0.5rem solid whitesmoke;
  margin-bottom: 2rem;
}

.bloc_hotel .image {
  height: 18rem;
}

.bloc_hotel .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bloc_hotel .content {
  padding: 1rem;
}
.bloc_hotel .content h3 {
  padding: 0.6rem 0;
  font-size: 2rem;
}
.bloc_hotel .content p {
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
}

.bloc_hotel .content i {
  font-size: 1.6rem;
  padding: 1.5rem 0;
}

.bloc_hotel:hover,
.plusPopulaires-hotel:hover {
  transform: scale(1.03);
  transition: all 150ms ease-out;
}

.Afficher-plus {
  font-size: 2.7rem;
  color: black;
  padding: 2rem;
}

aside {
  grid-column: 3/4;
<<<<<<< HEAD
  background: #f2f2f2;
  border-radius: 1rem;
  padding: 1.5rem;
=======
  background:#f2f2f2;
  border-radius: 25px;
}

.aside-fas{
  position: absolute;
  bottom: 10px;
}

.clrBleu{
  color: #0065fc;}
.clrGrisfonce{
  color:#d1cece;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
}

.plusPopulaires {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  font-size: 1.9rem;
}

.aside-hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.plusPopulaires-hotel {
<<<<<<< HEAD
  flex: 1 30rem;
  border-radius: 1.3rem;
  overflow: hidden;
=======
  position: relative;
  padding: 0;
  display: flex;
  background-color: white;
  width: 90%;
  height: 170px;
  border: 5px solid whitesmoke;
  border-radius: 20px;
  margin: 20px auto;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  cursor: pointer;
  box-shadow: rgb(121 121 121 / 30%) 1px 1px 20px;
  border: .6rem solid whitesmoke;
  display: flex;
}

.plusPopulaires-hotel .image2 {
  height: 20rem;
  width: 45%;
}
<<<<<<< HEAD
.elements {
  height: 100%;
  width: 55%;
  padding: 1.5rem;
  position: relative;
}

.elements p {
  padding-top: 0.7rem;
=======

/*activité*/
section{
  grid-area: section;
  padding: 40px 50px;
}

.activite{
  display: grid;
  grid-gap:40px;
  grid-template-columns: repeat(4, 1fr);
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
}

.elements .aside-fas {
  position: absolute;
  bottom: 2rem;
}

<<<<<<< HEAD
.plusPopulaires-hotel .image2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.plusPopulaires-hotel h3 {
  padding: 0.6rem 0;
  font-size: 2rem;
=======
.elements-activite{
  cursor: pointer;
  height: 600px;
  border-radius: 20px;
  background: white;
  box-shadow: rgb(121 121 121 / 30%) 1px 1px 20px;
}

.elements-activite:hover{
  transform:scale(1.05) ;
  transition: all 150ms ease-out;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
}
.plusPopulaires-hotel p {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.plusPopulaires-hotel i {
  font-size: 1.6rem;
  padding: 0.5rem 0;
}

.clrBleu {
  color: #0065fc;
}
.clrGrisfonce {
  color: #d1cece;
}

<<<<<<< HEAD
.Activites_wrapper {
  padding: 1rem;
  margin: 5rem 0;
}

.Activites_wrapper h2 {
  padding: 2rem 0;
  font-size: 3rem;
=======
.Fort-Pomegues{
  cursor: pointer;
  border-radius: 20px;
  height: 340px;
  background: white;
  box-shadow: rgb(121 121 121 / 30%) 1px 1px 20px;
  cursor: pointer;
  margin-bottom: 40px;
}
.Fort-Pomegues:hover{
  transform:scale(1.05) ;
  transition: all 150ms ease-out;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: .1rem;
}

.card-container .card, .inner_card{
  flex: 1 1 20rem;
  overflow: hidden;
  cursor: pointer;
}

.card-box{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 1rem;
  position: relative;
  
}

<<<<<<< HEAD
.Vieux-Port,
.Parc-Calanques {
  height: 63rem;
  border-radius: 1rem;
=======
.Iles-Frioules {
  cursor: pointer;
  height: 220px;
  border-radius: 20px;
  background: white;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  box-shadow: rgb(121 121 121 / 30%) 1px 1px 20px;
  margin: 2rem;
}

<<<<<<< HEAD
.Vieux-Port .image3,
.Parc-Calanques .image3 {
  height: 55rem;
=======
.Iles-Frioules:hover{
  transform:scale(1.05) ;
  transition: all 150ms ease-out;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
}

.Vieux-Port .image3 img,
.Parc-Calanques .image3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.bg-shadow{
  height: 37rem;
  border-radius: 1rem;
  position: absolute;
  z-index: 111;
  margin: 2rem;
  bottom: 0;
  box-shadow: rgb(121 121 121 / 30%) 1px 1px 20px;
}

<<<<<<< HEAD

.bg-shadow .image3 {
  height: 29rem;
=======
.Fort-Pomegues img {
  object-fit: cover;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  width: 100%;
  border-radius: 1rem;
}

<<<<<<< HEAD
.bg-shadow img {
  height: 100%;
=======
.Iles-Frioules img {
  object-fit: cover;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  
}

.bg-shadow-sh{
  height: 23rem;
  border-radius: 1rem;
  margin: 2rem;
  position: absolute;
  top: 0;
  left: -.2rem;
  box-shadow: rgb(121 121 121 / 30%) 1px 1px 20px;
  min-width: 89%;
}


<<<<<<< HEAD
.bg-shadow-sh .image3 {
  height: 17rem; 
}

.bg-shadow-sh img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
=======
  /*footer*/
footer{
  grid-area: footer;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef

.activites-h3 {
  padding: 1.7rem;
  font-size: 1.7rem;
}

footer {
  background-color: #f2f2f2;
  padding: 0 9%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 5rem 0;
}

.footer h3 {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.divLienFoot a {
  color: rgb(56, 56, 56);
  padding-top: 10px;
  font-weight: 500;
  font-size: 1.7rem;
}

/* media queries */

@media (max-width: 1300px) {
  html {
    font-size: 60%;
  }

  .page {
    padding: 0 5%;
  }

  footer {
    padding: 0 5%;
  }


  header h1 {
    font-size: 3.5rem;
  }

  header p {
    font-size: 2.3rem;
  }

  #bloc-main h2,
  .plusPopulaires i {
    font-size: 2.1rem;
  }

  #bloc-main h3,
  aside h3 {
    font-size: 1.7rem;
  }

  #bloc-main p,
  aside p {
    font-size: 1.3rem;
    padding: 0.5rem 0;
  }

  

  .bloc_hotel .content h3 {
    padding: 0.3rem 0;
  }
  .bloc_hotel .content p {
    padding-bottom: 0;
  }
  

<<<<<<< HEAD
  .bloc_hotel {
    margin: 0;
=======
  .elements-activite{
    cursor: pointer;
    height: 490px;
    
  }
  
  .bloc-pomegues-notreDame{
    height: 500px; 
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  #bloc-main .Afficher-plus {
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
<<<<<<< HEAD

  .plusPopulaires-hotel{
    height: 20rem;
=======
  
  .Fort-Pomegues{
    height: 250px;
   
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }
  .plusPopulaires-hotel .element i{
    padding-bottom: 2rem;
  }

<<<<<<< HEAD

  .plusPopulaires-hotel .image2 {
    height:100%;
=======
  .Iles-Frioules {
    height: 200px;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  .bloc_hotel .image {
    height: 14rem;
  }
<<<<<<< HEAD

  .activites-h3 {
    font-size: 1.5rem;
  }

  .filter-container {
    width: 600px;
    grid-gap: 1rem;
=======
  
  .Fort-Pomegues img {
    height: 190px;
  }
  
  .Iles-Frioules img {
    height: 140px;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  .icons-text {
    font-size: 1.3rem;
  }

  .bloc-fasanimal {
    padding: 0 1rem;
    width: 16rem;
  }

<<<<<<< HEAD
  .info p {
    font-size: 1.7rem;
    padding-left: 10px;
  }

  .info i {
=======
  .activite{
      grid-gap:15px;}

  footer {
    padding-top: 20px;
    height: 160px;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
    font-size: 1rem;
    margin-top: 20px;
  }

<<<<<<< HEAD
  .card-container .card,
  .inner_card {
    flex: 1 1 20rem;
=======
  .Apropos {
    padding: 20px 30px 0 0;
  }
  
  .tailleBlocFoot {
    padding: 20px 80px 0 80px;
  }
  #activites h3{
    font-size: 0.9rem;
  }

}


@media screen and (min-width: 700px) and (max-width:960px) {
  nav{
    font-size: 0.95rem;
  }
  
  .logo img{
    width: 150px;
    height: 40px;
  }

  header h1{
    font-size: 1.2rem;
  }
  header p{
    font-size: 1rem;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  .bg-shadow-sh{
    min-width: 85%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .page {
    padding: 0 4%;
  }

  .filter-container {
    width: 600px;
    grid-gap: 1rem;
  }

  .bloc_hotel .image {
    height: 16.9rem;
  }

  #bloc-main h2,
  .plusPopulaires i {
    font-size: 2.4rem;
  }
  .aside-hotel-wrapper {
    gap: 2rem;
  }

  #bloc-main i {
    padding: 0.5rem 0;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 53%;
  }

  #bloc-main h2,
  .plusPopulaires i {
    font-size: 2.8rem;
  }

  #bloc-main h3,
  aside h3 {
    font-size: 1.7rem;
  }

  .activites-h3 {
    font-size: 1.7rem;
  }

  .main {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .plusPopulaires-hotel {
    flex: 1 1 20rem;
  }

<<<<<<< HEAD
  .filter-container {
    width: 570px;
    grid-gap: 1rem;
  }

  .icons-text {
    font-size: 1.3rem;
  }

  .card-container .card,
  .bg-shadow, .bg-shadow-sh {
    flex: 1 1 40rem;
=======
  .elements-activite{
    height: 490px;
    
  }
  
  .bloc-pomegues-notreDame{
    height: 500px; 
  }
  
  .Parc-Longchamp {
    height: 250px;
  }
  
  .Fort-Pomegues{
    height: 250px;
   
  }
  
  .Notre-Dame {
    height: 200px;
  }

  .Iles-Frioules {
    height: 200px;
  }
 
  .Vieux-Port img {
    height: 430px; 
  }
  
  .Fort-Pomegues img {
    height: 190px;
  }
  
  .Iles-Frioules img {
    height: 140px;
  }
  .Parc-Calanques img {
    height: 430px;
  }
  
  .Notre-Dame img {
    height: 140px;  
  }
  
  .Parc-Longchamp img {
    width: 100%;
    height: 190px
  }

  .activite{
   grid-gap:20px;
   grid-template-columns: repeat(2, 1fr);
  }
  
  footer {
    margin-top: 20px;
    height: 160px;
    font-size: 1rem;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  .bg-shadow-sh, .Parc-Longchamp{
    min-width: 90%;
  }

}

<<<<<<< HEAD
@media (max-width: 768px) {
  html {
    font-size: 51%;
  }

  header h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 1.7rem;
  }

  .icons-text {
    padding-left: 1rem;
=======
@media screen and (min-width: 350px) and (max-width:699px) {
  nav{
    position: relative;
    font-size: 0.9rem;
    border-bottom:#f2f2f2 3px solid;
    height: 120px;
  }
  
  .nav_a{
    padding: 20px 54px;
  }

  .nav_linkfirst  {
    left:0;
    bottom: 0;
    position: absolute;
    padding-bottom: 20px;
  } 

  .nav_linksecond{
    right:0;
    bottom: 0;
    position: absolute;
    padding-bottom: 20px;
  }
  .nav_linksecond :hover, .nav_linkfirst :hover{
    border-top:unset;
    color: #0065fc;
    border-bottom: 3px solid  #0065fc;
   }

   .nav_linkthird{
    position: absolute;
    padding: 17px  0;
    top: 0;
    right: 0;  
   }

   .nav_linkthird:hover{
     border-bottom: 3px solid  #0065fc;
   }

  .nav_b{
    padding: 17px 30px;
  }

  .bloc_header{
    padding:5px 20px ;
  }
  .logo img{
    position: absolute;
    top: 20px;
    left: -30px;
    width: 130px;
    height: 35px;
  }

  .iconSize {
    height: 40px;
    width: 40px;
    border-radius: 15px 0 0 15px;
    font-size: 1rem;
   }
  
  #search {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 0.9rem;
  }

  .researche {
    margin-left: -15px;
    width: 42px;
    height: 40px;
    border-radius:  15px;
   
  }

  .researche .fas {
    font-size: 0.9rem;
    display: block;
  }

  .researche span{
    display: none;
  }

  header h1{
    font-size: 1.3rem;
  }
  header p{
    font-size: 0.9rem;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  #bloc-main h3{
    font-size: 2.3rem;
  }

  #bloc-main > aside > div.aside-hotel-wrapper > div > div.elements  h3 {
    padding: 0;
    font-size: 1.65rem;
  }

<<<<<<< HEAD
  .activites-h3 {
    font-size: 2rem;
=======
  div.filtre h3{
  font-size: 1.1rem;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  .plusPopulaires-hotel {
    flex: 1 1 20rem;
  }
<<<<<<< HEAD
  .plusPopulaires-hotel{
    height: 16rem;
=======

  .bloc-fasfamilial{
    grid-column: 5/ 10;
    grid-row: 2;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }
  .plusPopulaires-hotel .elements {
    padding: 1rem;
  }

  .plusPopulaires-hotel .elements h3 {
    padding-top: 0;
   
  }
  #bloc-main > aside > div.aside-hotel-wrapper > div h3{
    font-size: 1.4rem;
  }
  
  .elements p {
    padding: 0;
  }

  .bloc_hotel .image,
  .plusPopulaires-hotel .image2 {
    height: 20rem;
  }
  .elements{
    height: 100%;
  }

  .elements .aside-fas{
    bottom: .7rem;
  }

  .bloc-fasanimal {
    width: 17rem;
  }
  
  .filter-container {
    width: 360px;
    flex-wrap: wrap;
  }

<<<<<<< HEAD
  .icons-text {
    font-size: 1.3rem;
=======
  .bloc-aside{
    margin-bottom: 20px;
  }

  .bloc-aside h2{
    font-size: 1.1rem;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  .card-container .card,
  .inner_card {
    flex: 1 1 40rem;
  }
}

<<<<<<< HEAD

@media (max-width: 540px) {
  html {
    font-size: 45%;
=======
  .aside-fas{
    font-size: 0.6rem;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }
  .page{
    padding: 0 ;
  }

  header h1{
    font-size: 3rem;
  }

<<<<<<< HEAD
  header p{
    font-size: 2rem;
    padding-bottom: 2rem;
=======
  .plusPopulaires-hotel h3{
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .plusPopulaires-hotel p{
    font-size: 0.8rem;
    margin: 7px 0; 
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  .logo{
  padding-left: 2rem;
  }
 
  nav {
    position: relative;
    max-width: 100%;
    height: 15rem;
    margin-bottom: 3rem;
    border-bottom: #f2f2f2 .5rem solid;
    padding-top: 1rem;
    
  }
  
  .nav_links .nav_a{
    display: flex;
    justify-content: space-evenly;
    height: 5rem;
  }
  
  .nav_links .nav_b {
    position: absolute;
    top: 0;
    right: 0;

  }

  .nav_links .link1{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    padding: 0 25%;
  }

<<<<<<< HEAD
  .nav_links .link2{
    position: absolute;
    bottom: -.5rem;
    right: 0;
    padding: 0 25%;
  }
  .nav_links a{
    padding-bottom: 1.5rem;
    font-size: 2.5rem;
  }

  .nav_links a:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
    box-sizing: border-box;
=======
  .bloc_hotel h3{
    font-size: 1.1rem;
  }

  .bloc_hotel p{
    font-size: 0.9rem;
  }

  .article-fas{
    font-size: 0.9rem;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  .nav_links .nav_b:hover {
    border-top: none;
    border-bottom: none;
  }

<<<<<<< HEAD
  .nav_links {
    padding: 0;

=======
  .activite{
    grid-template-columns: repeat(1, 1fr);
   }

  .elements-activite{
    height: 200px; 
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  header{
    padding: 0 5%;
  }

<<<<<<< HEAD
  .search-icon{
    width: 5rem;
  }
  .search-icon span{
    display: none;
  }
  .search-icon .fas {
    display: block;
    font-size: 2rem;
=======
  section h2{
    font-size: 1.2rem;
    padding-bottom: 20px;
  }
  
  .bloc-pomegues-notreDame{
    height: 500px; 
  }
  
  .Parc-Longchamp {
    height: 200px;
  }
  
  .Fort-Pomegues{
    height: 200px;
  }
  
  .Notre-Dame {
    height: 200px;
  }

  .Iles-Frioules {
    height: 200px;
  }
 
  .Vieux-Port img {
    height: 150px; 
  }
  
  .Fort-Pomegues img {
    height: 150px;
  }
  
  .Iles-Frioules img {
    height: 150px;
  }
  .Parc-Calanques img {
    height: 150px;
  }
  
  .Notre-Dame img {
    height: 150px;  
  }
  
  .Parc-Longchamp img {
    width: 100%;
    height: 150px
  }
 
  footer {
    margin: 0;
    height: 360px;
    font-size: 1.1rem;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  .filter {
    align-items:flex-start;
    flex-direction: column;
    
  }

<<<<<<< HEAD
  .filter h3{
    margin-bottom: 2rem;
    font-size: 2.7rem;
=======
  .footer h3{
    font-size: 1.2rem;
    margin: 0;
  }
  .Apropos {
    padding:  0;
    margin: 0;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }
  

  .filter-container {
    width: 22rem;
    position: relative; 
    height: 23rem;
    gap: 1rem;
  }
<<<<<<< HEAD

  .bloc-fas {
    height: 6rem;
  }

  .bloc-fas i{
    height: 6rem;
    width: 6rem;
    font-size: 2.8rem;
  }

  .bloc-fasfamilial{
    position: absolute;
    top: -.1rem;
    left: 24rem;
    width: 20rem;
  }

  body > div > header > div > div.filter > div > div.bloc-fas.bloc-fasanimal{
    width: 26rem;
  }

  .icons-text {
    font-size: 2rem;
    padding-left: 1.5rem;
=======
   a.nav_a{
     padding: 20px 35px;
   }
  .nav_linkfirst  {
    left:0;
    bottom: 0;
    position: absolute;
    padding-bottom: 20px;
    
  } 

  .nav_linksecond{
    right:0;
    bottom: 0;
    position: absolute;
    padding-bottom: 20px;
    
  }
  .nav_linksecond :hover,  .nav_linkfirst :hover{
    border-top:unset;
    color: #0065fc;
    border-bottom: 3px solid  #0065fc;
   }

   .nav_linkthird{
    position: absolute;
    padding: 17px  0;
    top: 0;
    right: 0;  
   }

   .nav_linkthird:hover{
     border-bottom: 3px solid  #0065fc;
   }

  .nav_b{
    padding: 17px 20px;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }
  
  .bloc-fasanimal {
    width: 17rem;
  }
  .info p{
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 1rem;
  }
  .info .infoicon{
    height: 3rem;
    width: 3rem;
  }
  .info i {
    font-size: 1.5rem;
  }

  article {
    background: white; 
  }

  .bloc_hotel{
    margin: 1rem 0;
    box-shadow: rgb(121 121 121 / 50%) 1px 1px 20px;
    border: 0.7rem solid whitesmoke;
  }

  .Activites_wrapper,  .hebergements, .aside-hotel-wrapper, .plusPopulaires, .bloc-article h2{
    padding: 1.5rem  5%;
  }
<<<<<<< HEAD
  #bloc-main > article > a > p{
=======

  div.filtre{
    display: grid;
    grid-template-rows:repeat(5, 30px) ;
    grid-gap: 15px;
    align-items: center;
    height: 230px;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
    margin: 0;
    padding: 1.5rem  3%;
  }
  
 .bloc-article{
    padding: 0;
  }

  .aside-hotel-wrapper {
    flex-direction: column;
  }

<<<<<<< HEAD
  #bloc-main > aside > div.aside-hotel-wrapper > div > div.elements  h3 {
    font-size: 2.4rem;
  }
  #bloc-main > aside > div.aside-hotel-wrapper > div > div.elements p{
    padding-top: 1rem ;
    font-size: 1.9rem;
  }

  .elements .aside-fas{
    bottom: 1rem;
=======
  .bloc-fasfamilial{
    grid-column: 1/ 5;
    grid-row: 3;
  }
  .bloc-fasRomantique{
    grid-column: 1/ 5;
    grid-row: 4;
  }

  .bloc-fasanimal{
    grid-column: 1/ 6;
    grid-row: 5;
  }
  .icons-text{
    padding-left: 35px;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }
 
<<<<<<< HEAD
  .card-container {
    gap: 3rem;
=======
  }
  div.info{
    margin-top: 5px;

  }
  .info p{
  font-size: 0.7rem;
  padding-left: 5px;
  margin:10px 0;
  }

  .infoicon{
    font-size: 0.65rem;
  height: 22px;
  width: 29px;
  }

  .auberge-elements h3{
    font-size: 0.7rem;
    padding-left: 10px;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }
  
  .card-container .card, .inner_card{
    flex: 1 1 40rem;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .card-box{
    display: flex;
    flex-direction: column;
    position: initial; 
  }

  .Vieux-Port,
  .Parc-Calanques {
    height: 40rem;
    border-radius: 1rem;
    box-shadow: rgb(121 121 121 / 30%) 1px 1px 20px;
    margin: 2rem ;
  }

  .Vieux-Port .image3,
  .Parc-Calanques .image3 {
    height: 30rem;
  }

  .bg-shadow{
    position: initial;
  }

<<<<<<< HEAD
  .bg-shadow-sh{
    height: 25rem;
    position: initial;
  }

  .bg-shadow-sh .image3 {
    height: 30rem; 
=======
  .aside-fas{
    font-size: 0.6rem;
  }
  .bloc-aside{
    height: 620px;
   display: flex;
   flex-flow: column;
   justify-content: space-evenly;
   border-radius: unset;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }


<<<<<<< HEAD
  .footer {
=======
  .plusPopulaires h2{
  padding: 20px;
  }

  .plusPopulaires-hotel h3{
    font-size: 0.8rem;
    margin-top: 5px;
  }
  .plusPopulaires-hotel p{
    font-size: 0.8rem;
    margin: 5px 0; 
  }

  .aside-fas{
    font-size: 0.75rem;
  }
  
  .elements{
    padding-left: 5px;
  }
  
  main{
    grid-template-rows: 700px;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem ;
  }

  .divLienFoot a{
    margin: 3rem 0;
  }

}


@media (max-width:330px) {
  
  .nav_links a{
    padding-bottom: 1.5rem;
    font-size: 2rem;
  }
  .filter-container {
    width: 22rem;
    height: 20rem;
  }

  .bloc-fas {
    height: 5rem;
  }
  .bloc-fas{
    width: 18rem;
  }

<<<<<<< HEAD
  .bloc-fas i{
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
=======
  .activite{
    grid-template-columns: repeat(1, 1fr);
   }

  .elements-activite{
    height: 210px; 
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }

  .bloc-fasfamilial{
    left: 19.5rem;
    width: 15.5rem;
  }

<<<<<<< HEAD
  body > div > header > div > div.filter > div > div.bloc-fas.bloc-fasanimal{
    width: 20rem;
  }

  .icons-text {
    font-size: 1.5rem;
=======
  section h2{
    font-size: 1rem;
    padding-bottom: 20px;
  }

  .activites-h3{
    font-size: 1rem;
  }
  
  .bloc-pomegues-notreDame{
    height: 500px; 
  }
  
  .Parc-Longchamp {
    height: 200px;
  }
  
  .Fort-Pomegues{
    height: 200px;
  }
  
  .Notre-Dame {
    height: 200px;
  }

  .Iles-Frioules {
    height: 200px;
  }
 
  .Vieux-Port img {
    height: 150px; 
  }
  
  .Fort-Pomegues img {
    height: 150px;
  }
  
  .Iles-Frioules img {
    height: 150px;
  }
  .Parc-Calanques img {
    height: 150px;
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
  }
  
  .bloc-fasanimal {
    width: 17rem;
  }

  #bloc-main > aside > div.aside-hotel-wrapper > div > div.elements  h3 {
    font-size: 2rem;
  }
  #bloc-main > aside > div.aside-hotel-wrapper > div > div.elements p{
    font-size: 1.6rem;
  }
  #bloc-main > article > h2{
    font-size: 2.7rem;
  }

<<<<<<< HEAD
 
=======
>>>>>>> a75d1a27b30036f6ace6b444f920660f1f9af2ef
}
